<div class="container">
    <div class="row text-center p-3">
        <h2>----- Loan Schedule -----</h2>
    </div>
    <table>
        <thead class="tableheader">
            <tr>
                <th>តម្លៃ</th>
                <th>រយះពេល</th>
                <th>ការប្រាក់</th>
                <th>កាលបរិច្ឆេទ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{price}}</td>
                <td>{{duration}}</td>
                <td>{{interestRate}}%</td>
                <td>{{DateTime | date:'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
    </table>
    <table border="1" class="table mt-0">
        <thead>
            <tr class="tableheader">
                <th>លេរៀង</th>
                <th>តម្លៃថ្លៃដើម</th>
                <th>ការប្រាក់</th>
                <th>តម្លៃសរុប</th>
            </tr>
        </thead>
        <tbody>
            @for (row of LoanList(); track row.no){
            <tr [class.text-green]="row.no % 2 !== 0">
                <td>{{ row.no }}</td>
                <td>{{ row.principal }}</td>
                <td>{{ row.interest }}</td>
                <td>{{ row.total }}</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr class="tableheader">
                <td colspan="2"><strong>ការប្រាក់សរុប</strong></td>
                <td colspan="2">{{ totalInterest()}}</td>
            </tr>
            <tr class="tableheader">
                <td colspan="2"><strong>តម្លៃសរុប</strong></td>
                <td colspan="2">{{ grandTotal() }}</td>
            </tr>
        </tfoot>
    </table>
</div>